@import '../../style/variables.scss';

.personage {
  &__content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 650px 425px;
    column-gap: 25px;
    align-items: start;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 25px;
    row-gap: 30px;
  }
  &__item {
    width: 200px;
    background-color: $main-color;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s transform;
    &--selected {
      box-shadow: 0 5px 20px 8px $main-color;
      transform: translateY(-8px);
    }
  }
  &__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
  }
  &__alias, &__title {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
  }
}

@media (max-width: 1025px) {
  .personage {
    &__content {
      grid-template-columns: 580px 300px;
      column-gap: 20px;
    }
    &__inner {
      grid-template-columns: repeat(3, 183px);
      gap: 15px;
    }
    &__item {
      width: 183px;
    }
  }
}

@media (max-width: 900px) {
  .personage {
    &__content {
      grid-template-columns: 440px 240px;
    }
    &__inner {
      grid-template-columns: repeat(3, 136px);
    }
    &__item {
      width: 136px;
    }
    &__name {
      text-transform: none;
    }
  }
}

@media (max-width: 700px) {
  .personage {
    &__content {
      grid-template-columns: 290px 190px;
    }
    &__inner {
      grid-template-columns: repeat(2, 136px);
    }
  }
  .bg-decoration {
    display: none;
  }
}

@media (max-width: 425px) {
  .personage {
    &__content {
      margin-top: 30px;
      grid-template-columns: 190px 150px;
      column-gap: 10px;
    }
    &__inner {
      grid-template-columns: repeat(2, 90px);
      gap: 10px;
    }
    &__item {
      padding: 10px;
      width: 90px;
    }
    &__name, &__alias, &__title {
      font-size: 14px;
      line-height: 14px;
    }
  }
}